:root {
    --blue: #0071FF;
    --light-blue: #B6DBF6;
    --dark-blue: #005DD1;
    --grey: #f2f2f2;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

.l-2 {
    flex: 0 0 20%;
    max-width: 20%;
}

.l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.l-10 {
    flex: 0 0 80%;
    max-width: 80%;
}

.app {
    overflow: hidden;
}

.app-wrapper {
    display: flex;
}

.header {
    background-color: #4CAF50;
    height: 80px;
    display: flex;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
}

.header-tag {
    display: flex;
    width: 45%;
    justify-content: space-between;
}

.logo a,
.tag-item a,
.header-login a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.logo a {
    font-size: 1.5rem;
}

.logo a:hover,
.tag-item a:hover,
.header-login a:hover {
    color: yellow;
}

.main {
    background-color: #fafafa;
}

.formWrapper {
    padding: 40px 0;
}

.inputTitle {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    height: 70px;
    padding-left: 20px;
    background-color: #5cb1f3;
}

.title {
    display: flex;
    justify-content: center;
    line-height: 1;
    font-size: 1.2rem;
    color: #fff;
}

.result {
    display: flex;
    flex-direction: column;
    width: 650px;
    margin: 0 auto;
}

.success-msg,
.error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    display: none;
    font-weight: bold;
    padding-left: 20px;
}

.success-msg {
    color: #270;
    background-color: #DFF2BF;
}

.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
}

.formCreate {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 3px 10px 4px lightblue;
    background-color: #fff;
}

.inputWrapper {
    display: flex;
    padding: 0 40px;
}

.upload-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    align-items: center;
}

.upload-image .container {
    width: 500px;
}

.img-area {
    position: relative;
    width: 100%;
    height: 240px;
    background: var(--grey);
    margin-bottom: 30px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-area i {
    font-size: 100px;
}

.img-area h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}

.img-area p {
    color: #999;
}

.img-area p span {
    font-weight: 600;
}

.img-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
}

.img-area::before {
    content: attr(data-img);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;
    z-index: 200;
}

.img-area.active:hover::before {
    opacity: 1;
}

.select-image {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px 0;
    border-radius: 15px;
    background: var(--blue);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}

.select-image:hover {
    background: var(--dark-blue);
}

.inputPlant {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.inputPlant .label {
    /* flex: 0 0 20%;
    max-width: 20%; */
    font-weight: bold;
    margin: 5px 0;
    font-size: 0.8rem;
    /* color: rgba(0, 0, 0, 0.5); */
    color: black;
}

.inputPlant .input {
    height: 35px;
    width: 100%;
    padding-left: 10px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.inputPlant .input:focus {
    border: 2px solid #5cb1f3;
}

.inputPlant .descriptionText {
    padding: 5px;
}

#sale {
    max-width: 10%;
}

#type {
    width: auto;
}

.btnSubmit {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 40px;
    padding-bottom: 20px;
}

.btnSubmit button {
    height: 40px;
    width: 20%;
    font-weight: bold;
    background-color: rgba(127, 255, 212, 0.8);
    border: none;
}

.btnSubmit button:hover {
    background-color: #7fffd4;
    cursor: pointer;
}

/*--------------------------- Body Admin Page ---------------------------*/
.bodyWrapper {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.navBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.amountPlant,
.amountCustomer {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 2;
    width: 150px;
    border-bottom: 4px solid;
}

.searchPlant,
.searchCustomer {
    display: flex;
    align-items: center;
    flex: 1;
    width: 500px;
    max-width: 500px;
    height: 40px;
}

.searchPlantWrapper,
.searchCustomerWrapper {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.btnSearchPlant,
.btnSearchCustomer {
    height: 36px;
    width: 55px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    margin: 0;
    font-size: 1rem;
}

.searchPlant input,
.searchCustomer input {
    position: relative;
    right: 4px;
    width: 435px;
    height: 36px;
    border: none;
    font-size: 0.9rem;
    outline: none;
    margin: 0;
}

.sortPlant,
.sortCustomer {
    height: 40px;
    max-width: 140px;
    width: 140px;
}

.sortPlantWrapper,
.sortCustomerWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
}

#sort {
    height: 65%;
    font-size: 0.9rem;
    border: none;
    outline: none;
    padding: 0 5px;
}

.addPlant {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 100%;
    justify-content: center;
}

.btnAddPlant {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 140px;
    background-color: #4CAF50;
    outline: none;
    border: none;
    border-radius: 15px;
}

.btnAddPlant a {
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
    color: #fff;
    font-weight: bold;
}

.tableMain {
    background-color: #fff;
    border-radius: 15px;
}

.tableTitle table,
.tableList,
.tableList table {
    width: 100%;
    border-collapse: collapse;
}

.tableTitle table tr th {
    height: 40px;
    font-size: 0.9rem;
    border-bottom: 1px solid #aaa;
}

.tableList table tr td {
    text-align: center;
    font-size: 0.9rem;
}

.tableList table tr {
    border-bottom: 1px solid #aaa;
    height: 100px;
}

.tableList table tr:last-child {
    border-bottom: none;
}

.tableItem:nth-child(even) {
    background-color: #f2f2f2;
}

#imagePlant {
    height: 124px;
    width: 124px;
    object-fit: cover;
}

.btnUpdate,
.btnDelete {
    height: 30px;
    width: 30px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
}

.btnUpdate:hover {
    color: #4CAF50;
}

.btnDelete:hover {
    color: red;
}

/* --------------------------- Pagination ---------------------------- */
/* .paginationWrapper {
    display: flex;
    justify-content: space-around;
}

#dots {
    cursor: text;
    pointer-events: none;
}

.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;
}

.pagination li {
    display: inline;
    text-align: center;
}

.pagination a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #fff;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
}

.pagination a.active {
    cursor: default;
}

.pagination a:active {
    outline: none;
}

.modal-1 li:first-child a {
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px 0 0 6px;
}

.modal-1 li:last-child a {
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0;
    border-radius: 0 6px 6px 0;
}

.modal-1 a {
    border-color: #ddd;
    color: #4285F4;
    background: #fff;
}

.modal-1 a:hover {
    background: #eee;
}

.modal-1 a.active,
.modal-1 a:active {
    border-color: #4285F4;
    background: #4285F4;
    color: #fff;
} */

.pagination {
    padding: 10px 0;
}

.pagination ul {
    width: 35%;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.pagination ul li {
    color: #20B2AA;
    list-style: none;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.pagination ul li.numb {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 25px;
    width: 25px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
}

.pagination ul li.numb.first {
    margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
    margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
    font-size: 22px;
    cursor: default;
}

.pagination ul li.btn {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 50px;
    height: 25px;
}

.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
    color: #fff;
    background: #20B2AA;
}