:root {
    --blue: #0071FF;
    --light-blue: #B6DBF6;
    --dark-blue: #005DD1;
    --grey: #f2f2f2;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

.l-2 {
    flex: 0 0 18.75%;
    max-width: 18.75%;
}

.l-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.l-9 {
    flex: 0 0 81.25%;
    max-width: 81.25%;
}

.l-10 {
    flex: 0 0 80%;
    max-width: 80%;
}

.app {
    overflow: hidden;
}

.app-wrapper {
    display: flex;
}

#adminPage {
    display: flex;
    background-color: #fafafa;
}

.header {
    /* background-color: #3d84b3e6; */
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 225px;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 225px;
}

.header-tag {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.mainHeaderLogin {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-login {
    display: none;
}

.header-login.login {
    display: block;
}

.header-login.login button {
    border: none;
    background-color: #4caf50;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
}

.header-login.login button:hover {
    color: yellow;
}

.logo a,
.tag-item button,
.header-login a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.logo a {
    font-size: 1.5rem;
}

.logo a:hover,
.header-login a:hover {
    color: yellow;
}

.header-tag .tag-item {
    display: flex;
    height: 70px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
}

.header-tag .tag-item button {
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.header-tag .tag-item button:hover {
    color: yellow;
    background-color: #3e84b3;
}

.main {
    background-color: #fafafa;
}

.formWrapper {
    padding: 40px 0;
}

.inputTitle {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 50px;
    padding-left: 20px;
    background-color: #708ada;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    text-align: center;
}

.inputTitle .title {
    margin-bottom: 0;
    font-weight: bold;
}

.inputTitle button {
    margin-left: 15px;
    color: #fff;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.inputTitle button:hover {
    color: yellow;
}

.inputTitle button i {
    font-size: 1.2rem;
}

.title {
    display: flex;
    justify-content: center;
    line-height: 1;
    font-size: 1.2rem;
    color: #fff;
}

.result {
    display: flex;
    flex-direction: column;
    width: 650px;
    margin: 0 auto;
}

.success-msg,
.error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    display: none;
    font-weight: bold;
    padding-left: 20px;
}

.success-msg {
    color: #270;
    background-color: #DFF2BF;
}

.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
}

.formCreate,
.formUpdate {
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0px 1px 5px 2px rgb(190, 216, 224);
    background-color: #fff;
    border-radius: 12px;
}

.inputWrapper {
    display: flex;
    padding: 0 40px;
}

.upload-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    align-items: center;
}

.upload-image .container {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background-color: rgb(255, 240, 222);
}

.upload-image .container #file-input {
    display: none;
}

.upload-image .container .preview {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(170, 170, 170, 0.2);
}

.upload-image .container img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.upload-image .container label {
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: rgb(101, 101, 255);
}

.inputPlant {
    display: flex;
    flex-direction: column;
    margin: 6px 0px;
}

.inputPlant #id {
    display: none;
}

.inputPlant #type {
    font-size: 0.8rem;
}

.inputPlant .label {
    /* flex: 0 0 20%;
    max-width: 20%; */
    font-weight: bold;
    margin: 5px 0;
    font-size: 0.8rem;
    /* color: rgba(0, 0, 0, 0.5); */
    color: black;
}

.inputPlant .input {
    height: 30px;
    max-width: 100%;
    padding-left: 10px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 0.8rem;
}

.inputPlant .input:focus,
.inputPlant .descriptionText:focus {
    border: 2px solid #5cb1f3;
}

.inputPlant .descriptionText {
    padding: 5px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 0.8rem;
}

#sale {
    max-width: 10%;
}

#type {
    width: auto;
}

.btnSubmit {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 40px;
    padding-bottom: 20px;
}

.btnSubmit button {
    height: 40px;
    width: 15%;
    font-weight: bold;
    background-color: #4e73df;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.btnSubmit #update {
    display: none;
}

.btnSubmit button:hover {
    background-color: #1f4edd;
}

/*--------------------------- Body Admin Page ---------------------------*/
.mainHeader {
    height: 60px;
    width: 1115px;
    background-color: rgba(0, 0, 0, .7);
    padding-right: 100px;
}

.bodyWrapper {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 15px;
}

.navBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.amount {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 2;
    width: 150px;
    border-bottom: 4px solid;
}

.searchPlant,
.searchCustomer {
    display: flex;
    align-items: center;
    flex: 1;
    width: 500px;
    max-width: 500px;
    height: 40px;
}

.searchPlantWrapper,
.searchCustomerWrapper {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.btnSearchPlant,
.btnSearchCustomer {
    height: 36px;
    width: 55px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    margin: 0;
    font-size: 1rem;
}

.searchPlant input,
.searchCustomer input {
    position: relative;
    right: 4px;
    width: 435px;
    height: 36px;
    border: none;
    font-size: 0.9rem;
    outline: none;
    margin: 0;
}

.sortPlant,
.sortCustomer {
    height: 40px;
    max-width: 140px;
    width: 140px;
}

.sortPlantWrapper,
.sortCustomerWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
}

#sort {
    height: 65%;
    font-size: 0.9rem;
    border: none;
    outline: none;
    padding: 0 5px;
}

.addPlant {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 100%;
    justify-content: center;
}

.btnAddPlant {
    font-size: 1.5rem;
    background-color: #3d84b3e6;
    border: none;
    background-color: transparent;
    margin-left: 10px;
}

.tableMain {
    background-color: #fff;
    border-radius: 15px;
}

.tableTitle table,
.tableList,
.tableList table {
    width: 100%;
    border-collapse: collapse;
}

.tableTitle table tr {
    text-align: center;
}

.tableTitle table tr th {
    height: 40px;
    font-size: 0.9rem;
    border-bottom: 1px solid #aaa;
}

.tableList table tr td {
    text-align: center;
    font-size: 0.9rem;
}

.tableList table tr {
    border-bottom: 1px solid #aaa;
    height: 100px;
}

.tableList table tr:last-child {
    border-bottom: none;
}

.tableItem:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#imagePlant {
    height: 124px;
    width: 124px;
    object-fit: cover;
}

.btnEdit,
.btnDelete,
.btnViewOrder {
    height: 30px;
    width: 30px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
}

.btnEdit {
    color: #000;
}

.btnEdit:hover {
    color: #4e73df;
}

.btnDelete:hover {
    color: red;
}

.btnViewOrder:hover {
    color: #4e73df;
}

.btnUpdateStatus {
    background-color: #4e73df;
    color: #fff;
    font-size: 0.9rem;
    height: 30px;
    width: 70px;
    border: none;
    border-radius: 8px;
}

.btnUpdateStatus:hover {
    background-color: #0038e0;
}

.btnUpdateStatus.active {
    background-color: #ccc;
}

/* --------------------------- Pagination ---------------------------- */
.pagination {
    padding: 10px 0;
}

.pagination ul {
    width: 45%;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.pagination ul li {
    color: #20B2AA;
    list-style: none;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.pagination ul li.numb {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 25px;
    width: 25px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
}

.pagination ul li.numb.first {
    margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
    margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
    font-size: 22px;
    cursor: default;
}

.pagination ul li.pagination-btn {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 50px;
    height: 25px;
}

.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
    color: #fff;
    background: #20B2AA;
}

/* ----------------------------------- Modal confirm ---------------------------------- */
#myModal {
    display: none;
    background-color: rgba(0, 0, 0, .5);
}

.modal-confirm {
    color: #636363;
    width: 400px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 0.9rem;
}

.modal-confirm .modal-footer {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 1.8rem;
    margin: 30px 0 -10px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}

.modal-confirm .modal-body {
    color: #999;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
    color: #999;
}

.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50px;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}

.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 3rem;
    display: inline-block;
    margin-top: 13px;
}

.modal-confirm .btn,
.modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
}

.modal-confirm .btn-secondary {
    background: #c1c1c1;
}

.modal-confirm .btn-secondary:hover,
.modal-confirm .btn-secondary:focus {
    background: #a8a8a8;
}

.modal-confirm .btn-danger {
    background: #f15e5e;
}

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
    background: #ee3535;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.table.table-bordered th,
.table.table-bordered td {
    text-align: center;
}

/* -------------------------------- Modal Detail Order -------------------------------- */
.modalDetailOrder {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.detailOrderContainer {
    width: 500px;
    max-width: 100%;
    margin: 50px auto;
    /* height: 500px; */
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.formDetailOrder {
    /* height: 100%; */
    overflow-y: auto;
    width: 100%;
    position: relative;
    padding: 20px;
}

.formDetailOrder::-webkit-scrollbar {
    width: 5px;
}

.formDetailOrder::-webkit-scrollbar-thumb {
    background: #fff;
}

.formDetailOrder-header {
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.formDetailOrder-header h3 {
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.formDetailOrder-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.formDetailOrder-header button:hover {
    color: red;
}

.formDetailOrder-product {
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.detailOrder-product__img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 15px;
}

.detailOrder-product__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detailProduct__totalPrice {
    position: absolute;
    right: 20px;
    font-weight: bold;
    font-size: 1.1rem;
}

.formDetailOrder-name {
    border-top: 1px solid #ccc;
}

.footerFormOrderDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-top: 2px solid #ccc;
    margin-top: 10px;
}

.formDetailOrder-totalPriceOrder {
    font-weight: bold;
    font-size: 1.2rem;
    color: #000;
    margin: 10px 0;
}

.formDetailOrder-btnUpdate {
    width: 110px;
    height: 40px;
}

.updateStatusOrder {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #4e73df;
    color: #fff;
    border-radius: 4px;
}

.updateStatusOrder:hover {
    background-color: #1a4ce2;
}

#admin {
    font-size: 1rem;
}

.productDescription {
    line-height: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    height: 149px;
}

/* ------------------------------ Date Picker --------------------------------- */
.tabsChart {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-bottom: 20px;
    font-size: 1rem;
}

.tabsChart button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tabsChart button:hover {
    background-color: #ddd;
}

.tabsChart button.active {
    background-color: #ccc;
}

.getYear {
    display: none;
    margin-bottom: 10px;
}

.getYear input {
    outline: none;
    padding-left: 6px;
    height: 30px;
    font-size: 0.85rem;
}

.datePicker {
    display: none;
    margin-bottom: 10px;
}

.datePicker input {
    max-width: 150px;
    height: 30px;
    font-size: 0.85rem;
    margin-right: 10px;
    margin-left: 5px;
}

.startDate,
.endDate {
    display: flex;
    align-items: center;
}

.getYear button,
.datePicker button {
    border: none;
    background-color: #4e73df;
    color: #fff;
    width: 60px;
    height: 30px;
}